:root {
  --color-purple: #b01e68;
  --color-purple-hover: #81154b;
  --color-yellow: #ffe15d;
  --color-yellow-hover: #ffec98;
  --color-red: #fa7b16;
  --color-red-hover: #ff3d0d;
  --color-green: #65fa32;
  --color-green-hover: #2fbb00;
  --color-blue: #3ee2fa;
  --color-blue-hover: #00b5d1;
  --color-primary: var(--color-purple);
  --color-primary-hover: var(--color-purple-hover);
  --color-secondary: var(--color-yellow);
  --color-secondary-hover: var(--color-yellow-hover);
}

._navbar {
  background-color: #ffffff99;
}
.is-60vh {
  height: 60vh;
}
.image.placeholder {
  border: 2px solid var(--color-primary);
  position: relative;
}
.image.placeholder:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  border: var(--color-primary) 1px dashed;
  transform: rotate(45deg);
  left: 50%;
}
.image.placeholder:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  border: var(--color-primary) 1px dashed;
  transform: rotate(-45deg);
  left: 50%;
}

.button.is-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.button.is-primary:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-secondary-hover);
}

.has-background-primary {
  background-image: linear-gradient(
    66deg,
    var(--color-primary) 39.9%,
    #ffffff 39.9% 40.1%,
    var(--color-secondary) 40.1%
  );
}

.animation.fade-in {
  animation: fade-in;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.animation.fade-in.from-left {
  animation: fade-in, from-left;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.animation.fade-in.from-right {
  animation: fade-in, from-right;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes from-right {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes from-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0px);
  }
}
